<%= form_tag("/wrappers", method: "post") do %>
  <%= label_tag(:col_num, "Enter max desired column width: ") %><br/>
  <%= text_field_tag(:col_num, "", class: "form-control") %><br/>
  <%= label_tag(:user_str, "Enter string to wrap: ") %><br/>
  <%= text_area_tag(:user_str, "", class: "form-control") %><br/>
  <%= submit_tag("Wrap String", class: "btn btn-outline-success btn-lg")%>
<% end %>  

<div id='errors'>
</div>

<%= javascript_pack_tag 'error_handling' %>