<!DOCTYPE html>
<html>
  <head>
    <title>KataWordWrapRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div class="col"></div>
      <div class="col"> 
        <h1> Word Wrap Kata</h1>
        <%= yield %></div>
      <div class="col"></div>
    </div> 
  </body>
</html>
